<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver android:name=".TodayWidgetProvider" android:exported="false" android:label="@string/gramello_widget_today">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        <action android:name="android.intent.action.TIME_SET" />
        <action android:name="android.intent.action.TIMEZONE_CHANGED" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/gramello_widget_today" />
    </receiver>
    <receiver android:name=".WaterWidgetProvider" android:exported="false" android:label="@string/gramello_widget_water">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        <action android:name="android.intent.action.TIME_SET" />
        <action android:name="android.intent.action.TIMEZONE_CHANGED" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/gramello_widget_water" />
    </receiver>
  </application>
</manifest>
